html, body {
    font-family: arial;
    font-size: 16px;
    height: 100%;
}

#sidebar {
    background-color: #ddd;
    border-right: 1px solid #c4c4c4;
    height: 100%;
    padding-top: 15px;
}

#sidebar .title {
    font-weight: bold;
}

#sidebar .page-list {
    padding-left: 20px;
}

#content {
    padding-top: 15px;
}
