html, body {
    font-family: arial;
    font-size: 16px;
    height: 100%;
}

#sidebar {
    background-color: #ddd;
    border-right: 1px solid #c4c4c4;
    height: 100%;
    padding-top: 15px;
}

#sidebar .title {
    font-weight: bold;
}

#sidebar .page-list {
    padding-left: 20px;
}

#content {
    height: 100%;
    overflow: auto;
    padding-top: 15px;
}

#content h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

#content code {
    background-color: #ddd;
    border: 1px solid #c4c4c4;
    color: #006000;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    white-space: pre-wrap;
}

#content table {
    margin-top: 10px;
}

#content .unbreakable {
    white-space: nowrap;
}

#content ul {
    margin-top: 5px;
}
